* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background: #2c3e50;
}
#ingresoContent{
    display: flex;
    width: 100vw;
    flex-flow: row;
    flex-grow: 2;
}
#login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-grow: 4;
}
#registroUsuario{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: #192a56;
}
.loginInput {
    padding: 10px 15px;
    font-size: 200%;
    color: white;
    background: transparent;
    border: none;
    border-bottom: 4px solid #34495e;
    text-align: center;
}
.joinBtn{
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 200%;
}
/* CHATROOM */
#chat{
    width: 80vw;
    background: #192a56;
    height: 100vh;
    display: flex;
    flex-flow: column;
}
/* #listUsers{
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background: #7f8fa6;
    z-index: 1;
    padding: 30px;
    display: none;
    flex-flow: column;
    overflow: auto;
}
#listGroups{
    position: absolute;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background: #7f8fa6;
    overflow: auto;
    display: none;
    flex-flow: column;
    padding: 20px;
} */
.content{
    display: flex;
    flex-flow: row;
    background: #fff;
}
#list{
 height: 100vh;
 width: 259px;
}
#headerList{
    height: 10%;
    width: 100%;
    padding: 10px 16px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}
#searchBar{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    background: #f8f8f8;
}
#searchBar input{
    display: flex;
    height: 35px;
    border-radius: 18px;
}
#chatType{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ededed;
}
#listGroups{
    display: flex;
    flex-flow: column;
    height: 40%;
    max-height: 40%;
    overflow: auto;
}
#listUsers{
    display: flex;
    flex-flow: column;
    height: 50%;
    max-height: 40%;
    overflow: auto;
}
#myUser{
    padding: 20px;
    position: relative;
    word-wrap: break-word; 
    font-size: 25px;
    max-width: 180px;
}
.ms{
    cursor: pointer;
    padding: 10%;
    border-top: 1px solid #f2f2f2;
    background: #f8f8f8;
    max-width: 253px;
}
.ms:hover{
    background-color: #f8f8f8;
}

#campoTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:row;
    flex-grow: 2;
    margin-top: 5px;
    padding: 2px;
}
#campoTexto a{
    background: #00a8ff;
    padding: 5px;
    border-radius: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    cursor: pointer;
}
#campoTexto a:hover{
    padding: 6px;
}
#listMessage{
    width: 100%;
    height: 75vh;
    background: #f5f6fa;
    overflow: auto;
}
#message{
    flex-grow: 40;
    border-radius: 10px;
    padding: 5px;
}
#botomGo{
    flex-grow: 1;
}
.mensaje{
    width: 100%;
    padding: 10px;
}
a:hover{
    color: red;
    cursor: pointer;
}
a:focus{
    color: blue;
    cursor: pointer;
}
#user{
    display: flex;
    flex-flow:row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.label{
    color: #00a8ff;
}
.label:hover{
    font-size: 20px;
}
.close{
    width: 30px;
}
img{
    border-radius: 100px;
    float: left;
    width: 10%;
}
#addGroup{
    background: #00a8ff;
    padding: 5px;
    border-radius: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.aliniarRight{
    display: flex;
    justify-content: flex-end;
}